@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FEFDFD;
    z-index: 1000;
}
header.sticky{
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 4px 2px silver;
}
header.sticky ul li a{
    color: #FFFFFF;
}
header.sticky ul li i{
    color: #FFFFFF;
}
header.sticky .account_button a{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
header.sticky .logo{
    color: #FFFFFF;
}
header .logo{
    color: #111;
    font-size: 24px;
    text-decoration: none;
}
header .logo{
    color: #111;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Prata',sans-serif;
}
header input, label, span::before{
    display: none;
}
#menu__toggle {
    opacity: 0;
}
.toggle{
    display: inline-block;
}
.toggle ul{
    position: relative;
    display: flex;
    right: 100px;
}
.toggle ul li{
    position: relative;
    list-style: none;
}
.toggle ul li a{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin: 0 15px;
    color: #111;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.toggle a:hover{
    transition: all 200ms ease-in-out;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background: linear-gradient(290deg, #2699D7 15%, #21E3D8 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}
.toggle_icon{
    position: relative;
    display: flex;
    left: 250px;
}
.toggle_icon ul{
    position: relative;
    display: flex;
    right: 120px;
}
.toggle_icon ul li{
    position: relative;
    list-style: none;
}
.toggle_icon i{
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 400;
    background: none;
    font-size: 24px;
    text-decoration: none;
    margin: 0 20px;
    color: black;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.toggle_icon a{
    text-transform: none;
    text-decoration: none;
}
.toggle_icon i:hover{
    transition: all 200ms ease-out;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background: linear-gradient(150deg, #2699D7 15%, #21E3D8 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    text-transform: unset;
}
.toggle_icon a:hover{
    background: none;
    border: none;
    outline: none;
}
.toggle_icon i:active{
    background-color: silver;
    transition: all 200ms ease-out;
}
.account_button{
    display: flex;
    position: relative;
}
.account_button a{
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #111111;
    padding: 12px 26px;
    border:  2px solid #000000 ;
    border-radius: 15px;
}
.account_button a:first-child{
    right: 10px;
}
.account_button a:hover{
    color: #FEFDFD;
    background: linear-gradient(180deg, #2699D7 15%, #21E3D8 85%);
    border:  2px solid #FEFDFD;
    transition: all 200ms ease-out;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.text__banner{
    width: 100%;
    height: 70px;
    margin-top: 70px;
    background: #C4C4C4;
    align-items: center;
    padding-top: 18px;
}
.text__banner h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: black;
}
.wrapper{
    width: 941px;
    margin: 0 auto;
}
.wrapper_main{
    width: 1004px;
    margin: 0 auto;
}
.block_news{
    width: 1004px;
    height: 332px;
    background: #F5F5F5;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    padding: 20px 38px;
    margin-top: 11px;
}
.frame{
    display: flex;
    align-items: center;
    width: 337px;
    height: 100%;
}
.frame iframe{
    width: 337px;
    height: 203px;
    border-radius: 5px;
    border: none;
}
.text_news{
    width: 379px;
    height: 100%;
    display: grid;
    align-items: center;
}
.text_news h1{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #10077A;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.text_news a{
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    font-family: 'Montserrat', sans-serif;
    color: #10077A;
}
.text_news a:hover{
    opacity: 0.8;
}
.text_news h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    cursor: context-menu;
    color: #10077A;
}
.text_news h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #10077A;
}
.text_context p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    display: grid;
    color: #000000;
    margin-top: 10px
}
.text_context p:first-child{
    margin-top: 0;
}
.button_and_icon{
    display: grid;
}
.button_and_icon a{
    text-decoration: none;
    text-transform: none;
}
.button_and_icon i{
    text-decoration: none;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 400;
    margin-left: 100px;
}
.fa-heart{
    background: none;
    font-size: 24px;
    text-decoration: none;
    margin: 0 20px;
    color: black;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.fa-heart:hover{
    transition: all 200ms ease-out;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background: linear-gradient(150deg, #2699D7 15%, #21E3D8 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button_and_icon button{
    width: 156px;
    height: 31px;
    background: linear-gradient(90deg, #21E3D8 0%, #2699D7 48.96%, #10077A 100%), #C4C4C4;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 200px;
}
.button_and_icon button:hover{
    color: white;
    background: linear-gradient(90deg, #a1d8f5 0%, #2699D7 48.96%, #66d8fc 100%), #C4C4C4;
}
footer{
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 55px;
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
footer p{
    position: relative;
    color: #FFFFFF;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    left: 510px;
}
footer h1{
    position: relative;
    color: #FFFFFF;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    right: 510px;
}
.button_end{
    width: 100%;
    height: 141px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.button_end button{
    width: 223px;
    height: 40px;
    background: #10077A;
    box-shadow: inset 2px 5px 3px 2px rgba(0, 15, 53, 0.17);
    border-radius: 15px;
    outline: none;
    border: none;
    margin-top: 31px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.button_end button:hover{
    opacity: 0;
}